@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="h4">@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                      <div class="row">
                        <div class="col mb-3 " >
                            <label for="firstName" class="form-label">First Name</label>
                            <input asp-for="Input.FirstName" id= "FirstName" class="form-control" autocomplete="new-FirstName" aria-required="true" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input asp-for="Input.LastName" id="LastName" class="form-control" autocomplete="new-LastName" aria-required="true" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                       </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input asp-for="Input.Email" id="Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group">
                                <input asp-for="Input.Password" id="Password" class="form-control" autocomplete="new-password" aria-required="true" type="password">
                                <a class="btn btn-outline-secondary" type="button" id="togglePassword">
                                    <i class="fa fa-eye" id="eyeIcon"></i>
                                </a>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <div class="input-group">
                                <input asp-for="Input.ConfirmPassword" id="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" type="password">
                                <a class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                    <i class="fa fa-eye" id="confirmEyeIcon"></i>
                                </a>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Role" class="form-label">Roles</label>
                            <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                <option value="">--Select a Role--</option>
                               <span asp-validation-for="Input.Role" class="text-danger"></span>"
                            </select>
                        </div>
                        <button asp-controller="" id="registerSubmit" type="submit" class="w-100 btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    const togglePassword = document.getElementById("togglePassword");
    const toggleConfirmPassword = document.getElementById("toggleConfirmPassword");
    const passwordInput = document.getElementById("Password");
    const confirmPasswordInput = document.getElementById("ConfirmPassword");
    const eyeIcon = document.getElementById("eyeIcon");
    const confirmEyeIcon = document.getElementById("confirmEyeIcon");

    togglePassword.addEventListener("click", function () {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.className = "fa fa-eye-slash";
        } else {
            passwordInput.type = "password";
            eyeIcon.className = "fa fa-eye";
        }
    });

    toggleConfirmPassword.addEventListener("click", function () {
        if (confirmPasswordInput.type === "password") {
            confirmPasswordInput.type = "text";
            confirmEyeIcon.className = "fa fa-eye-slash";
        } else {
            confirmPasswordInput.type = "password";
            confirmEyeIcon.className = "fa fa-eye";
        }
    });
</script>