/*.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    background: none;
    border: none;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}*/

/* Custom styling for the control button icons */
/*.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 3rem;
}*/

/* Hide the visually-hidden text for screen readers */
/*.visually-hidden {
    display: none;
}*/
