@model Shopping.ViewModel.LocationVM
@{
    ViewData["Title"] = "BuySaveOrder";
}

<div class="container p-3">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
       @*  <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol> *@

        <div>
            
            <div>
                <img src="https://dmnwebapi.dishhome.com.np/v1/file/media-16852521709168882.jpeg" alt="Image 2" style="width: 100%;">
               
            <a asp-action="HomeIndex" asp-controller="Home"  class="btn">Explore Now →</a>
        </div>

            @* target="_blank" *@
    </div>
</div>
