@model Shopping.ViewModel.LocationVM
@{
    ViewData["Title"] = "BuySaveOrder";
}

<div class="container mt-4">
    <form asp-controller="Location" asp-action="LocationSaveOrder" method="post">
        <div class="border p-3">
            <div class="row pb-2">
                <h2 class="text-primary text-center" style="color: black;">
                    Submit Order
                </h2>
            </div>
            <div asp-validation-summary="All"></div>
            <input type="number" hidden value="@ViewBag.CartItemId" />

            <div class="form-group">
                <label asp-for="Location.CustomerName" class="control-label">Customer Name</label>
                <input asp-for="Location.CustomerName" class="form-control" />
                <span asp-validation-for="Location.CustomerName" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Location.Address" class="control-label">Address</label>
                    <input asp-for="Location.Address" class="form-control" />
                    <span asp-validation-for="Location.Address" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Location.FloorNo" class="control-label">Floor No</label>
                    <input asp-for="Location.FloorNo" class="form-control" />
                    <span asp-validation-for="Location.FloorNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location.City" class="control-label">City</label>
                <input asp-for="Location.City" class="form-control" />
                <span asp-validation-for="Location.City" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Location.State" class="control-label">State</label>
                    <input asp-for="Location.State" class="form-control" />
                    <span asp-validation-for="Location.State" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Location.StreetName" class="control-label">Street Name</label>
                    <input asp-for="Location.StreetName" class="form-control" />
                    <span asp-validation-for="Location.StreetName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Location.PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="Location.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Location.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Location.PinCode" class="control-label">PinCode</label>
                    <input asp-for="Location.PinCode" class="form-control" />
                    <span asp-validation-for="Location.PinCode" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="width: 150px">Save</button>
                <a asp-controller="Cart" asp-action="CartIndex" class="btn btn-secondary" style="width: 150px">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
